---
import { Studio } from 'sanity';
import config from '../../sanity.config';
---

<html lang="no">
  <head>
    <meta charset="utf-8" />
    <title>Scandi Japandi Studio</title>
  </head>
  <body>
    <Studio config={config} />
  </body>
</html>
